<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="~/Scripts/ckeditor/adapters/jquery.js"></script>

@model KnowledgeStorr.Models.Article

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Article</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ArticleCreated)
    @Html.HiddenFor(model => model.UserId)
    
    <div class="form-horizontal">       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ArticleId)

        <div class="form-group">
            @Html.Label("Article Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArticleName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ArticleName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Article Description", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArticleDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ArticleDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.Label("Article Created", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArticleCreated, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ArticleCreated, "", new { @class = "text-danger" })
            </div>
        </div>*@     

        <div class="form-group">
            @Html.Label("Category", "CategoryId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Subcategory", "SubcategoryId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SubcategoryId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SubcategoryId, "", new { @class = "text-danger" })
            </div>
        </div>     
        <div class="form-group">
            @Html.Label("Article Contents", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ArticleContents, new {@id = "editor", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ArticleContents, "", new { @class = "text-danger" })
                <script>CKEDITOR.replace('editor');</script>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Home", "Index", "Home", new { @class = "btn btn-default" })
</div>
<script type="text/javascript">

    $(function () {

        $("#CategoryId").change(function () {
            var catId = $(this).val();
            var subItems = "";
            $.getJSON("@Url.Action("SubCategoryFilter", "Articles")", { categoryID: catId }, function (data) {
                $.each(data, function (index, item) {
                    subItems += "<option value='" + item.SubcategoryId + "'>" + item.SubcategoryName + "</option>"
                });
                $('#SubcategoryId').html(subItems);
            });
        });

    });

</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
